/* wyśrodkowanie elementów, ramka i tło */
main, header {
    margin: auto;
    background-color: khaki;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    text-align: center;
}
/* Większy przycisk */
button {
    margin-top: 20px;
    width: 30%;
    height: 30px;
}