/* wyśrodkowanie elementów, ramka i tło */
main,header {
    margin: auto;
    background-color: mediumaquamarine;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    text-align: center;
}
/* Większy przycisk */
button {
    margin-top: 20px;
    width: 30%;
    height: 30px;
    background-color: mediumaquamarine;
}
.vsl-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
main {
    margin: auto;
    background-color: azure;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    text-align: center;
}
